@font-face{
    src:url('yudoi.ttf');
    font-family:det;

}
@font-face{
    src:url('laloi.ttf');
    font-family:let;

}

body{
    background-color: rgb(44, 111, 199);
}
.titulo{
    background-color: rgba(14, 250, 6, 0.945);
    text-shadow: 15px 12px rgba(72, 14, 232, 0.302);
    color:rgb(10, 25, 73);
    font-family:let;
    text-align:center;
    font-size : 50px;
    margin: 10px 150px ;
    border: 10px black solid;
}
.nin img{
    margin: 10px 500px;
    border: 5px black solid;
    border-radius: 50%;
    display: block;
}
h3{
    background-color: rgba(247, 230, 0, 0.979);
    font-size : 45px;
    font-family: det;
    color:rgb(241, 1, 1);
    border: 10px black solid;
}
h4{
    background-color: rgb(124, 248, 8);
    font-size : 45px;
    font-family: det;
    color:rgb(20, 8, 242);
    border: 5px black solid;
}
p{
    background-color: rgb(117, 250, 9);
    font-size : 35px;
    font-family: det;
    color:rgb(70, 4, 253);
    border: 10px black solid;
}
table{
    background-color:rgba(23, 11, 136, 0.398);
    border: 8px black solid;
}
td{
    background-color: rgba(253, 253, 253, 0.986);
    color: rgb(15, 26, 112);
    font-size: 30px;
    border: 3px rgb(0, 0, 0) solid;
    text-align: center;
}

th{
    color: rgb(197, 72, 247);
    background-color: rgb(96, 233, 243);
    font-size: 35px;
    border: 3px black solid;
}
.ingles{
    background-color: rgb(226, 160, 37);
    color: whitesmoke;
}
.musica{
    background-color: rgb(218, 50, 87);
    color: whitesmoke;
}

ol{
    background-color: rgb(1, 108, 214);
    color: white;
    font-family:cursive ;
    font-size: 15px;
}
ul{
    background-color: rgb(79, 214, 1);
    color: rgb(197, 8, 8);
    font-family:cursive ;
    font-size: 15px;
}
form{
    width: 50%;
    border: 1px solid rgb(5, 252, 5);
    margin: 20px;
    padding: 20px;
}
label{
    font-size: 12px;
    display: block;
    color: rgb(255, 217, 0);
}
input{
    margin-bottom: 20px;
    width: 100%;
}
textarea{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
button{
    width: 100%;
}
input:focus{
    border: 1px solid rgb(86, 11, 184);;
}
